<mat-toolbar>
    <mat-label>Enter New Password</mat-label>
</mat-toolbar>

<div class="new-password-form">
  <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="newPasswordForm.get('password')?.invalid && (newPasswordForm.get('password')?.dirty || newPasswordForm.get('password')?.touched)">
        <span *ngIf="newPasswordForm.get('password')?.errors?.['required']">Password is required</span>
        <span *ngIf="newPasswordForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</span>
      </mat-error>
    </mat-form-field>
     <mat-form-field appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="newPasswordForm.get('confirmPassword')?.invalid && (newPasswordForm.get('confirmPassword')?.dirty || newPasswordForm.get('confirmPassword')?.touched)">
        <span *ngIf="newPasswordForm.get('confirmPassword')?.errors?.['required']">Confirm password is required</span>
      </mat-error>
    </mat-form-field>
    <mat-label *ngIf="newPasswordForm.get('confirmPassword')?.value !== newPasswordForm.get('password')?.value && newPasswordForm.get('confirmPassword')?.touched"
               style="color: #ff0000; display: block; font-size: 1rem">Passwords do not match</mat-label>
    <button mat-raised-button color="primary" type="submit" [disabled]="newPasswordForm.invalid || newPasswordForm.get('confirmPassword')?.value !== newPasswordForm.get('password')?.value">Confirm Password</button>
  </form>
</div>
