<mat-toolbar style="">
    <mat-label>Log In</mat-label>
</mat-toolbar>

<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
        <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</span>
        <span *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</span>
        <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</span>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  <div class="register-div">
    <mat-label>Don't have an account yet?</mat-label>
    <button mat-raised-button style="margin-top: 1pc" routerLink="/register">Register</button>
  </div>
</div>
