
<mat-toolbar>
    <mat-label>Forgot Password</mat-label>
</mat-toolbar>

<div class="forgot-password-form">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)">
        <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required</span>
        <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Invalid email format</span>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
  </form>

  <div class="login-div">
    <mat-label>Remembered your password?</mat-label>
    <button mat-raised-button style="margin-top: 1pc" routerLink="/login">Log In</button>
  </div>
</div>



